@inject BookingDatabaseService BookingDatabaseService

@page "/booking"

<h3>Booking</h3>
<EditForm Model="@BookingRequest" OnValidSubmit="SubmitBooking">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="container">
		<div class="top-row mb-3">
			<div class="col-md-6">
				<div class="col-md-6">
					<label class="form-label">Enter Visitors: </label>
					<InputNumber type="number" class="form-control" @bind-Value="BookingRequest.NumberOfVisitors" />
					<ValidationMessage For="@(() => BookingRequest.NumberOfVisitors)" />
				</div>
			</div>
			<div class="col-md-6">
				<label for="facilities" class="form-label">Select Facility: </label>
				<InputSelect class="form-select" @bind-Value="BookingRequest.FacilityID">
					<option value="0">Select the option</option>
					@foreach (var facilit in Facilities)
					{
						<option value="@facilit.FacilityID">@facilit.FacilityName</option>
					}
				</InputSelect>
				<ValidationMessage For="@(() => BookingRequest.FacilityID)" />
			</div>
		</div>
		
		<div class="row mb-3">
			<div class="col-md-6">
				<div>
					<label class="form-label" for="startTime">Start Time: </label>
					<input type="time" class="form-control" @bind="BookingRequest.StartTime" />
				</div>
			</div>
			<div class="col-md-6">
				<div>
					<label class="form-label" for="endTime">End Time: </label>
					<input type="time" class="form-control" @bind="BookingRequest.EndTime" />
				</div>
			</div>
		</div>
		
		<button type="submit" class="btn btn-primary mt-3">Register Alien</button>
		<div class="row">
			<p>
				@if (!string.IsNullOrEmpty(ErrorMessage))
				{
					<div class="alert alert-danger mt-3">
						@ErrorMessage
					</div>
				}
			</p>
		</div>
	</div>
</EditForm>

@code {

	// Cascading parameters are used to pass data down the component tree
	[CascadingParameter]
	internal SessionState? SessionState { get; set; }
	List<Facility> Facilities { get; set; } = FacilityRepository.ListAllFacilities();

	public Booking BookingRequest { get; set; } = new Booking();

	public DateTime BookingDate { get; set; } = DateTime.Today;
	public DateTime StartTimeString { get; set; }
	public string EndTimeString { get; set; } = "19:00";

	public string ErrorMessage = String.Empty;

	public async Task SubmitBooking()
	{
		/*
		try
		{

			if (!TimeSpan.TryParse(StartTimeString, out TimeSpan startTime) || !TimeSpan.TryParse(EndTimeString, out TimeSpan endTime))
			{
				ErrorMessage = "Invalid time format.";
				return;
			}
		}
		catch (Exception ex)
		{
			ErrorMessage = $"Error in TimeSpan: {ex.Message}";
			return;
		}
		*/

		//BookingRequest.StartTime = BookingDate.Date.Add(startTime);
		//BookingRequest.EndTime = BookingDate.Date.Add(endTime);


		if (SessionState != null && SessionState.LoggedInUser != null)
		{
			BookingRequest.AlienID = SessionState.LoggedInUser.ID;

		}

		await BookingDatabaseService.InsertBookingAsync(BookingRequest);
	}

}