@page "/registeraliens"

@using System.ComponentModel.DataAnnotations
@using System.Collections.Generic
@using Microsoft.Data.SqlClient
@using Microsoft.Extensions.Configuration
@using System.Threading.Tasks
@inject AlienDatabaseService AlienDatabaseService

<h1>Alien Registration Page</h1>
<EditForm Model="@alien" OnValidSubmit="RegisterMyAlien">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row mb-3">
        <div class="col-md-6">
            <div>
                <label class="form-label">Enter first name: </label>
                <InputText type="text" class="form-control" @bind-Value="alien.FirstName" />
                <ValidationMessage For="@(() => alien.FirstName)" />
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <label class="form-label">Enter last name: </label>
                <InputText type="text" class="form-control" @bind-Value="alien.LastName" />
                <ValidationMessage For="@(() => alien.LastName)" />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label">Enter age: </label>
            <InputNumber type="number" class="form-control" @bind-Value="alien.Age" />
            <ValidationMessage For="@(() => alien.Age)" />
        </div>
        <div class="col-md-6">
            <label for="visitMonths" class="form-label">Additional months: </label>
            <InputNumber id="visitMonths" class="form-control" @bind-Value="alien.VisitDurationMonths" Min="0" Max="12"></InputNumber>
            <ValidationMessage For="@(() => alien.VisitDurationMonths)" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div>
                <label class="form-label">Enter species: </label>
                <InputText type="text" class="form-control" @bind-Value="alien.Species" />
                <ValidationMessage For="@(() => alien.Species)" />
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <label class="form-label">Enter planet: </label>
                <InputText type="text" class="form-control" @bind-Value="alien.Planet" />
                <ValidationMessage For="@(() => alien.Planet)" />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="aliengroup" class="form-label">Select Alien Group: </label>
            <InputSelect class="form-select" @bind-Value="alien.AlienGroupID">
                <option value="">Select the option</option>
                @foreach (var group in alienGroups)
                {
                    <option value="@group.alienGroupID">@group.alienGroupName</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => alien.AlienGroupID)" />
        </div>
        <div class="col-md-6">
            <label for="atmosphereType" class="form-label">Select Atmosphere: </label>
            <InputSelect id="atmosphereType" class="form-select" @bind-Value="alien.AtmosphereTypeID">
                <option value="">-- Select an Atmosphere --</option>
                <option value="1">Oxygen-rich</option>
                <option value="2">Nitrogen-rich</option>
                <option value="3">Carbon Dioxide-rich</option>
            </InputSelect>
            <ValidationMessage For="@(() => alien.AtmosphereTypeID)" />
        </div>
    </div>
    <div class="mb-3">
        <label for="specialRequirements" class="form-label">Special Requirements: </label>
        <textarea id="specialRequirements" class="form-control" rows="4" @bind="alien.SpecialRequirements"></textarea>
        <ValidationMessage For="@(() => alien.SpecialRequirements)" />
    </div>
    <div>
        <label class="form-label">Enter email: </label>
        <InputText type="email" class="form-control" @bind-Value="alien.Email" />
        <ValidationMessage For="@(() => alien.Email)" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Register Alien</button>
</EditForm>

@if (registeredAlien != null)
{
    <p>
        Alien registered successfully!
        <br />
        Alien name: @registeredAlien.FirstName;
        <br />
        Alien age: @registeredAlien.Age;
    </p>
}

@code {
    private Alien alien = new Alien();
    private List<AlienGroup> alienGroups = AlienGroupsRepository.ListAllGroups();
    private Alien registeredAlien = new();

    private async Task RegisterMyAlien()
    {
		registeredAlien = await AlienDatabaseService.InsertAlienAsync(alien);
    }
}